<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="" *ngFor="let item of MealsList">
    <div class="card mb-3 mealsCard" [ngClass]="{'text-danger': TotalCalories > 2000}">
      <div *ngIf="item.edit">
        <form [formGroup]="editForm">
          <div class="card-header bg-transparent">Add Meal</div>
          <div class="card-body">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
              </span>
              <input type="text" formControlName="mealName" class="form-control" placeholder="Enter Meal Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
              </span>
              <input type="number" formControlName="calories" class="form-control" placeholder="Enter Calories" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="!item.edit">
        <div class="card-header bg-transparent">Meal</div>
        <div class="card-body">
          <h5 class="card-title text-capitalize">{{item.mealName}}</h5>
          <p class="card-text">Calories : <span class="text-primary">{{item.calories}}</span> </p>
        </div>
      </div>
      <div class="card-footer bg-transparent d-flex" [ngClass]="{'justify-content-between': !item.edit}">
        <button (click)="editAction(item)" type="button" class="btn btn-outline-dark">{{item.edit ? 'Cancle' : 'Edit'}}</button>
        <button *ngIf="item.edit" (click)="editSubmit(item)" type="button" class="btn btn-outline-primary mx-sm-2">Save</button>
        <button *ngIf="!item.edit" (click)="deleteMeal(item._id)" type="button" class="btn btn-outline-danger mx-sm-2">Delete</button>
      </div>
    </div>
  </div>



  <div class="">
    <div class="card mb-3 mealsCard">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="card-header bg-transparent">Add Meal</div>
        <div class="card-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
            </span>
            <input type="text" formControlName="mealName" class="form-control" placeholder="Enter Meal Name" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
            </span>
            <input type="number" formControlName="calories" class="form-control" placeholder="Enter Calories" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <button type="submit" class="btn btn-outline-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
