<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="">
    <div class="card mb-3 mealsCard">
      <div class="card-header bg-transparent">Meals</div>
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Calories : <span>300</span> </p>
      </div>
      <div class="card-footer bg-transparent">
        <button type="button" class="btn btn-outline-dark">Edit</button>
      </div>
    </div>
  </div>
  <div class="">
    <div class="card mb-3 mealsCard">
      <form>
        <div class="card-header bg-transparent">Add Meal</div>
        <div class="card-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control" placeholder="Enter Meal Name" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
            </span>
            <input type="number" class="form-control" placeholder="Enter Calories" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <button type="button" class="btn btn-outline-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
