<div class="text-center mainClass">

  <main class="form-signin">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h1 class="h3 mb-3 fw-normal">Sign In</h1>

      <div class="form-floating">
        <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div *ngIf="(f.password.errors || f.email.errors) && f.email.touched" class="alert alert-danger">
        <div *ngIf="f.email.errors?.required">Email is required.</div>
        <div *ngIf="f.email.errors?.pattern">Email is not vaild.</div>
        <div *ngIf="f.password.errors?.required">Password is required.</div>
      </div>
      <div class="checkbox mb-3">
        <label>Don't have account?
          <a [routerLink]="['../signup']"
          routerLinkActive="router-link-active">Create an accont</a>
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </main>


</div>
